.rewardspage {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #f5f5f5;
}

.image-container3 {
    flex: 1;
    margin-right: 50px;
    background-color: #ddd;
}

    
.text-container3{
    flex: 0.5;
    padding: 50px;
}

.text-container3>h2 {
    font-size: 2rem;
    margin-bottom:10px;
}

.text-container3>p {
    font-size: 1.2rem;
    line-height: 1.5;
}

